<div class="left">
    <div class="titleSide">
        Cool Things
    </div>
    <ul>
        <li><a href="/talks">My Talks and Seminars</a></li>
        <li><a href="/reading-groups">My Reading Groups</a></li>
        <li><a href="/projects">My Projects</a></li>
        <li><a href="/csu-torus">Colorado State Torus</a></li>
    </ul>
    <div class="titleSide">
        Finding Me
    </div>
    <ul class="dotted">
        <li><a href="mailto:jorquera@colostate.edu">jorquera@colostate.edu</a></li>
        <li><a href="https://github.com/jorqueraian">Github</a></li>
        <li><a href="https://scholar.google.com/citations?view_op=list_works&hl=en&user=TQKhMCcAAAAJ">Google Scholar</a></li>
        <li><a href="https://www.linkedin.com/in/ian-jorquera-b786b8198/">Linkedin</a></li>
        <li><a href="/coming-soon">Coming Soon</a></li>
    </ul>
    <div class="titleSide">
        Cool Things part 2
    </div>
    <ul>
        <li><a href="https://csu-applied-category-theory.github.io/">Applied Category Theory Seminar</a></li>
        <li><a href="https://www.math.colostate.edu/~king/codex/">CodEx Seminar</a></li>
        <li><a href="/coming-soon">RMAC Seminar</a></li>
        <li><a href="https://zackjorquera.github.io/">Zack Jorquera</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="https://irojasr.github.io/">Ignacio Rojas</a></li>
        <li><a href="https://www.identiflight.com/">IdentiFlight</a></li>
        <li><a href="https://www.poudrerockreport.com/">Poudre Rock Report</a></li>
        <li><a href="/cool-things/part-3">More</a></li>
    </ul>
    <!--<div>
        <div class="button2"><a href="/coming-soon">What to do here</a></div>
    </div>-->
    <div class="titleSide">
        Language
    </div>
    <div style="text-align: center;">
        <select name="language">
            <option value="English">English</option>
            <option value="Spanish">Spanish</option>
            <option value="German">German</option>
            <option value="French">French</option>
        </select>
        <input type="submit" value="Go!" />
    </div>
</div>

<script> 
    function increaseFontSizeBy1px() {
        var id = document.getElementById('p');
        var style = window.getComputedStyle(id, null).getPropertyValue('font-size');
        var currentSize = parseInt(style);
        currentSize++;
        document.getElementById('p').style.fontSize = currentSize.toString();
    }
</script>