<div class="pageWrapper">
    <div id="header">
        <div id="logo">
            <h1>Logo &trade;</h1>
        </div>
        <div id="heading">
            <div class="head"></div>
            <div class="top">
                <a href="/">Home</a>
                <a href="/research">Research</a>
                <a href="/research">Publications</a>
                <a href="https://github.com/jorqueraian">Software</a>
                <a href="teaching.html">Teaching</a>
                <a href="https://www.math.colostate.edu/~king/GameofSloanes.html">Game Of Sloanes</a> <!--To add more: increase width on line 182 of style.css-->
            </div>
            <div class="sub">
                <a href="Kayaking.html">Kayaking!</a>
                <a href="comingsoon.html">Skiing</a>
                <a href="other.html">Other</a>
                <a href="https://github.com/jorqueraian/math/blob/main/Other/myCV.pdf">CV</a>
            </div>
        </div>
    </div>
</div>